<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#demandas">Demandas</a></li>
  <li><a data-toggle="tab" href="#filtros"><i class="fa fa-gear"></i></a></li>
</ul>

<div class="tab-content sideBarPaddingFeed">
      <div id="demandas" class="tab-pane fade in active">
          <div class="sidebar-title feedTitles">
                <h3><i class="fa fa-comments-o"></i> Latest Notes</h3>
                <small><i class="fa fa-tim"></i> You have 10 new message.</small>
          </div>
      </div>

      <div id="filtros" class="tab-pane fade">
            <h3>Filtros</h3>
            <p>Some content in menu 1.</p>
      </div>
</div>