<div class="modal inmodal" id="docs_mobile_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-file-zip-o modal-icon"></i>
                <h4 class="modal-title">Envio de Documentos</h4>
                <small class="font-bold">Clique e selecione os documentos que deseja enviar.</small>
            </div>
            <div class="modal-body">
                <div class="form-group" id="docs_additional_infos" style="display: none;">
                </div>
                <div class="form-group">
                    <form action="#" class="dropzone" id="dropzoneForm">
                        <div class="fallback">
                            <input name="file" type="file" multiple />
                        </div>
                    </form>
                </div>
                 <div class="form-group">
                    <a href="#" class="" id="add_file_infos">+ Adicionar informações adicionais</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<% content_for :javascript do %>

  <script type="text/javascript">

      $(function() {

        Dropzone.options.dropzoneForm = {
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 2, // MB
            dictDefaultMessage: "<strong>Clique aqui e selecione os arquivos.</strong></br>"
        };
    });

  </script>

<% end %>